/* App.css */

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("/pexels-egor-kamelev-1685543.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
}

.main-container {
  flex: 1;
  margin-left: 25em;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  justify-content: space-evenly;
}
