/* App.css */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url(/pexels-egor-kamelev-1685543.jpg);
  background-size: cover;
}

.SideBar {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(1px);
  background-color: hsla(0, 0%, 100%, 0.1);
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  width: 20%;
  margin: 2em;
}

/* Header.css */
.Header {
  height: 100px;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
}

.Header img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

/* Navbar.css */
.Navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px 0;
}

.Navbar Button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  width: 200px;
}

.button img {
  margin-right: 0.5em;
}

/* SearchBar.css */
.search-bar {
  position: relative;
  width: 300px; /* Adjust width as needed */
  margin-bottom: 20px;
}

.search-bar form {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"],
.search-bar button {
  padding: 10px;
  font-size: 16px;
}

.search-bar input[type="text"] {
  width: calc(100% - 80px); /* Adjust width as needed */
}

/* CurrentWeather.css */
.current-weather {
  margin-bottom: 20px;
}

.current-weather h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.current-weather div {
  margin-bottom: 5px;
}

/* WeatherList.css */
.weather-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(1px);
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 10px;
  width: 50vw;
}

.weather-card {
  width: calc(33.33% - 20px);
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 20px;
}

.weather-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.weather-card p {
  margin: 0;
}
